In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

In [27]:
x = np.array([1,2,3])
print("The array x is", x)
print("The elementwise square of x is", x**2)

The array x is [1 2 3]
The elementwise square of x is [1 4 9]

In [28]:
big_array = np.arange(10000)
%timeit [x * 2 for x in big_array]
%timeit big_array * 2

1.06 ms ± 17.2 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)
5.42 μs ± 463 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [29]:
df = pd.read_csv('../data/starter_data.csv')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   category  10 non-null     object
 1   value     10 non-null     int64
 2   date      10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes

In [31]:
df.head(3)

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03

In [32]:
df.describe()

           value
count  10.000000
mean   17.600000
std     7.381659
min    10.000000
25%    12.250000
50%    14.500000
75%    23.250000
max    30.000000

In [33]:
summary = df.groupby('category').mean(numeric_only=True).reset_index()
print(summary)

  category      value
0        A  11.500000
1        B  15.666667
2        C  27.666667

In [34]:
import os
os.makedirs("../data/processed", exist_ok=True)
summary.to_csv('../data/processed/summary.csv', index=False)

In [39]:
# print out the first five rows in a dataframe
def first_five(df):
    return df.head(5)
print(first_five(df))

  category  value        date
0        A     10  2025-08-01
1        B     15  2025-08-02
2        A     12  2025-08-03
3        B     18  2025-08-04
4        C     25  2025-08-05